body {
    --notion-font: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif;
    font-family: var(--notion-font);
    overflow-x: hidden;
  }

.cont {
  font-size: 15px;

  max-width: 900px;

  margin: 0 auto;

  padding: 20px;

  /* flex: auto; */

  flex-direction: row;
}
.icon {
    margin: 0;
    text-align: center;
    font-size: 80px;
    padding: 20px;
  }
.container{
  display: flex;
  flex-direction: row;

  justify-content: space-between ;
  max-width: 900px;

  margin: 0 auto;

  padding: 20px;

}

.navbar{
  display: flex;
  flex-direction: row;
  flex-grow: 0.06;
  justify-content: space-between ;
}
.blog{
  display: flex;
  flex-direction: row;

  justify-content: space-between ;
  max-width: 900px;

  margin: 0 auto;

  padding: 20px;}

ul {
  list-style-type: none;
}
/* 
yacine theme */

/* vs-code theme: https://github.com/dracula/visual-studio-code/blob/master/src/dracula.yml */

main {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

::selection {
  background: #44475A75;
}

body {
  background: #282A36;
  color:      #F8F8F2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #8BE9FD;
  /* background-color: #1d2021; */
}

h1, h2, h3, h4, h5 {
  color: #FF79C6;
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #BD93F9;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  color: #BD93F9;
}